.venv
venv
__pycache__
*.pyc
*.log
*.csv
*.parquet
*.json
terraform.tfvars
*.tfstate
*.tfstate.backup
*.tfstate.backup.*
*.tfplan
.terraform
.terraform.lock.hcl
*.info
.env
variables.json
auth.json
authorized_key.json
driveroutput.*
/data
.editorconfig
pyproject.toml
.env.example