/infrastructure/terraform.tfvars
/infrastructure/*.tfstate
/infrastructure/*.tfstate.backup
/infrastructure/*.tfstate.backup.*
/infrastructure/*.tfplan
/infrastructure/.terraform
/infrastructure/.terraform.lock.hcl

.bashrc
.venv
.idea