yc_config = {
  token     = ""
  cloud_id  = ""
  folder_id = ""
  zone      = "ru-central1-a"
}
yc_instance_user        = "ubuntu"
yc_instance_name        = "airflow-vm"
yc_network_name         = "airflow-network"
yc_subnet_name          = "airflow-subnet"
yc_service_account_name = "airflow-vm-sa"
yc_bucket_name          = "airflow-bucket"
yc_storage_endpoint_url = "https://storage.yandexcloud.net"
ubuntu_image_id         = "fd8829m2l6d5lu2qip10"
public_key_path          = ""
private_key_path         = ""
airflow_db_conn_default = ""
